.image-list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.image-list li{
    width: 100%;
}

.image-list img {
    width: 100%;
    height: 15em;
    border-radius: 3px;
    object-fit: cover;
}
